<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NyE GALAXY</title>
    <link rel="stylesheet" href="../static/style.css"> 
</head>
<body>
    <div class="home-page">
        <div class="overlay">
            <div class="logo">
                <img src="../static/logo.png" alt="Logo" />
            </div>

            <h1 class="title">NyE GALAXY</h1>

            <div class="search-bar">
                <form action="/search" method="get">
                    <input autocomplete="off" type="text" name="q" id="searchInput" placeholder="Write a name of a country, state or city">
                    <button type="submit">Search</button>
                </form> 
            </div>
        </div>
    </div>
</body>
</html>
