<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ city }} Weather</title>
    <link rel="stylesheet" href="../static/secondarypagecss.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="../static/logo.png" alt="Logo" class="logo">
            <h1>{{ city | upper }}</h1>
            <a href="/" class="back-button">Back</a>
        </header>
        
        <main>
            <div class="search-bar">
                <table>
                    <thead>
                        <tr>
                            <th>City Name</th>
                            <th>Country</th>
                            <th>State</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for city in cities %}
                            <tr>
                                <td>{{ city['name'] }}</td>
                                <td>{{ city['sys']['country'] }}</td>
                                <td>{{ city['state'] }}</td>
                                <td>
                                    <form action="/results" method="get">
                                        <button type="submit">Search</button>
                                        <input type="hidden" name="data" value="{{ city }}">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>
</html>
