<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mexicali Weather</title>
    <link rel="stylesheet" href="../static/secondarypagecss.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="../static/logo.png" alt="Logo" class="logo">
            <h1>MEXICALI</h1>
            <div class="search-bar">
                <input type="text" placeholder="Search Another City">
            </div>
            <a href="index.html" class="back-button">Back</a>
        </header>

        <main>
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Air speed</td>
                        <td>18 mi/h</td>
                    </tr>
                    <tr>
                        <td>Atm pressure</td>
                        <td>1013.25 hPa</td>
                    </tr>
                    <tr>
                        <td>Climate</td>
                        <td>86°F</td>
                    </tr>
                    <tr>
                        <td>Cloud data</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Humidity</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Max-Min Temp</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Termic sensation</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Timezone</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Water level</td>
                        <td>---</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>
